# Caches Python
__pycache__/
dashboard/__pycache__/
generator/__pycache__/

# Fichiers de status générés
generator/status.json
generator/total_keys_generator.json


# --- Generated BTC DB files ---
generator/bitcoin_addresses.db
generator/bitcoin_addresses.db.tmp
generator/bitcoin_addresses.txt.gz
generator/bitcoin_addresses.txt.gz.part
generator/btc_db_importer.log

# --- Lock / temp ---
*.lock
*.part